@import "tailwindcss";

:root {
  --foreground: #1e293b;
}

@theme {
  /* Adventurous RPG Theme Colors */
  --color-ro-sky: #48b6ef;
  --color-ro-wood: #855b32;
  --color-ro-leaf: #48c774;
  --color-ro-cloud: #f4f6f9;

  /* Typography Mapping */
  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-kanit), sans-serif;
}

body {
  background-color: var(--color-ro-sky);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  letter-spacing: -0.025em;
}
